<div class="container p-3 mt-4 mb-3 me-3 ms-4" style="border-radius: 1rem; box-shadow:  10px 10px 20px #bebebe,
-10px -10px 20px #ffffff; width: 95% !important;">
  <div class="row ps-2 pe-2">
    <div class="col-12">
      <img
        id="profile-image"
        class="rounded-circle"
        src="{{ post.userphoto ? post.userphoto : '/assets/dummy-user.png' }}"
      />
      <span id="postUsername">{{ post.username }}</span>
    </div>
  </div>
  <p-carousel
    [value]="post.locations"
    [numVisible]="2"
    [numScroll]="2"
    [circular]="true"
    class="carousel"
    [loading]="loading"
  >
    <ng-template let-location pTemplate="item">
      <div class="p-4">
        <app-location
          [location]="location"
          (loaded)="getLoaded($event)"
        >
        </app-location>
      </div>
    </ng-template>
  </p-carousel>
  <div class="row ps-2 pe-2">
    <div class="col-12">Tour duration: <b>
      <span *ngIf="post.maximumDays > post.minimumDays">
        {{ post.minimumDays }} - {{ post.maximumDays }} days
      </span>
      <span *ngIf="post.maximumDays == 1 && post.maximumDays == 1">
        {{ post.maximumDays }} day
      </span>
      <span *ngIf="post.maximumDays == post.minimumDays && post.minimumDays != 1">
        {{ post.minimumDays }} days
      </span></b>
    </div>
  </div>
  <div class="row ps-2 pe-2">
    <div class="col-6">
      <span>
        <i class="{{ heart }}" style="font-size: 22px;" (click)="toggleHeart()"></i>
        <span *ngIf="likes.length == 1">
          {{ likes.length }} appreciation
        </span>
        <span *ngIf="likes.length > 1">
          {{ likes.length }} appreciations
        </span>
      </span>
      <span *ngIf="likes.length == 0">
        No appreciation
      </span>
    </div>
    <div class="col-6 position-relative">
      <div class="position-absolute top-50 end-0 translate-middle-y me-2">
        <span class="ms-3">{{ post.dateCreated | date: "short" }}</span>
      </div>
    </div>
  </div>
</div>
