@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

::ng-deep .carousel>* {
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

#postUsername {
    font-size: larger;
    margin-left: 1rem;
    font-weight: bold;
}