<app-navbar></app-navbar>
<div id="ceva" class="container position-relative p-3 gap-4" style="height: 85vh; overflow: scroll;">
    <div *ngFor="let location of locations" style="float: left;">
      <app-location 
        [location]="location"
      >
      </app-location>
    </div>
    <div class="position-relative">
      <button
        type="button"
        class="btn border position-absolute top-50 start-50 translate-middle"
        data-bs-toggle="modal"
        data-bs-target="#addPostModal"
      >
        <i class="fas fa-plus m-0"></i>
      </button>
    </div>
      

  <!-- Modal -->
  <div
    class="modal fade"
    id="addPostModal"
    tabindex="-1"
    aria-labelledby="postModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="postModalLabel">Location</h5>
          <button
            #closeModal
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="resetForm()"
          ></button>
        </div>
        <div class="modal-body">
          <div style="z-index: 1;">
            <input
              #mapInput
              ngx-google-places-autocomplete
              class="formControl"
              [options]="options"
              #placesRef="ngx-places"
              style="position: relative;"
              (onAddressChange)="handleAddressChange($event)"
            />
            <div class="mt-2"> 
              <google-map
                [options]="mapOptions"
              >
                <map-marker [position]="marker.position">
                </map-marker>
              </google-map>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary w-100"
            (click)="addLocation()"
          >
            Add Location
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<div
  class="row justify-content-center ps-2 pe-2"
>
  <button type="button" class="btn btn-primary" (click)="addPost()">
    Create
  </button>
</div>
