<div class="container">
  <div class="row mb-5" style="margin-top: 2.2rem;">
    <div class="col-3 position-relative">
      <h4 class="position-absolute top-50 start-0 translate-middle-y">
        <!-- <img src="../../../../assets/tourlight-logo.png" style="height: 1.8rem;"> -->
        tourli<i class="fas fa-route m-0 align-bottom" style="font-size: 22px; margin-left: -10px !important; margin-bottom: -2px !important;"></i>ht
        <!-- tourli<i class="far fa-lightbulb align-bottom" style="font-size: 24px; margin-left: -3px !important;margin-bottom: -4px !important; margin-right: -3px !important; margin-top: 3px !important;"></i>ht<br>
        tourli<i class="fas fa-map-marker-alt m-0 align-bottom" style="font-size: 20px; margin-left: -3px !important; margin-right: -3px !important;"></i>ht
        tourli<i class="fas fa-search m-0 align-bottom" style="font-size: 20px; margin-left: 0px !important; margin-right: -3px !important;"></i>ht
      -->
      </h4>
    </div>
    <div class="col-9 position-relative">
      <div class="position-absolute top-50 end-0 translate-middle-y">
        <button type="button" class="btn p-2" (click)="goToFeed()">
          <i class="fas fa-home" style="font-size: 22px;"></i>
        </button>
        <button type="button" class="btn p-2" (click)="goToCreatePost()">
          <i class="fas fa-plus" style="font-size: 22px;"></i>
        </button>
        <button type="button" class="btn p-2">
          <i class="fa fa-sort" style="font-size: 22px;"></i>
        </button>
  
        <img
          id="profile-image"
          class="m-0"
          src="{{ user.photoURL ? user.photoURL : '../../../../../../assets/dummy-user.png' }}"
          alt="{{ user.displayName }}"
          (click)="goToProfile()"
        />
      </div>
    </div>
  </div>


</div>
